.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;

  h4 {
    font-size: 1.6rem;
    padding: 1.6rem 0;
  }

  p {
    font-size: 1.4rem;
    color: #5a5a5a;
  }
}

.featureImgContainer {
  padding-bottom: 1.6rem;
  height: 7.9rem;

  img {
    height: auto;
    width: auto;
  }
}

@media (min-width: 640px) {
  .feature {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .feature {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .feature {
    width: 75%;
  }
}