footer {
  background-color: #000;
  padding: 6.4rem 0;

  .invBtn {
    color: #fff;

    .arrow {
      filter: invert(100%);
    }
  }
}

.footerContainer {
  display: grid;
}

.footerLogoContainer {
  padding-bottom: 0.8rem;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 3.2rem 0;

  a {
    display: flex;
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 9.6rem;

  li {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.footerPrimary {
  display: grid;
  place-items: center;
}

.footerSecondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .invBtn {
    margin-top: 0;
  }

  p {
    color: #b4b4b4;
    padding-top: 4rem;
  }
}

@media (min-width: 768px) {
  footer {
    padding-bottom: 4.8rem;
  }

  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .socialIcons {
    order: 1;
    padding-top: 6.4rem;
    padding-bottom: 0;
  }

  .footerLinks {
    flex-direction: row;
    padding-bottom: 1.6rem;
  }

  .footerPrimary {
    place-items: start;
  }

  .footerSecondary {
    align-items: end;
    justify-content: space-between;

    p {
      padding: 0;
    }
  }
}

@media (min-width: 1280px) {
  .footerPrimary {
    grid-template-columns: repeat(2, 1fr);
  }

  .socialIcons {
    padding-top: 9.2rem;
  }

  .footerLinks {
    flex-direction: column;
    grid-row: span 2;
    padding: 0;

    li {
      text-align: left;
    }
  }
}
