* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  max-width: 128rem;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
