* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  max-width: 128rem;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  width: auto;

  &:hover {
    opacity: 0.8;
  }

  .arrow {
    display: flex;
    margin-left: 2rem;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
