* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  width: 90%;
  max-width: 128rem;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  z-index: 10;
  background-color: #000;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.invBtn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  width: auto;
  transition: all 100ms ease;

  &:hover {
    opacity: 0.8;
  }

  .arrow {
    display: flex;
    margin-left: 2rem;
  }
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1280px) {
  .invBtn {
    font-size: 1.4rem;
    margin-top: 1.6rem;
  }
}
