.mainStory {
  display: grid;
}

.mainTextContainer {
  padding: 6.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainText {
  width: 90%;

  p {
    padding: 2.4rem 0;
    color: #505050;
  }

  button {
    display: flex;
    font-size: 1.2rem;
    margin-top: 0.8rem;

    &:hover {
      opacity: 0.8;
    }

    .arrow {
      margin-left: 2rem;
    }
  }
}

.createAndShareTextContainer {
  color: #fff;
  background-color: #000;
  position: relative;

  button {
    color: #fff;
  }
}

.createAndShareText {
  p {
    color: #b4b4b4;
  }

  .arrow {
    filter: invert(100%);
  }

  .gradient {
    position: absolute;
    top: 0;
    height: 0.6rem;
    width: 12.8rem;
    background: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);
  }
}

@media (min-width: 768px) {
  .mainStory {
    grid-template-columns: repeat(3, 1fr);
  }

  .mainTextContainer {
    grid-column: span 2;

    h1 {
      font-size: 4rem;
      line-height: 4.8rem;
    }
  }

  .mainText {
    width: 75%;
  }

  .createAndShareImgContainer,
  .designedForEveryoneImgContainer {
    order: 1;
  }

  .createAndShareText {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    p,
    button {
      width: 75%;
    }

    .gradient {
      top: 0;
      left: 0;
      height: 100%;
      width: 0.6rem;
      background: linear-gradient(to top, #ffc593, #bc7198, #5a77ff);
    }
  }
}

@media (min-width: 1024px) {
  .mainText {
    button {
      margin-top: 1.6rem;
    }
  }

  .mainTextContainer {
    h1 {
      font-size: 4.4rem;
      line-height: 5.6rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }
}

@media (min-width: 1280px) {
  .mainStory {
    grid-template-columns: 45% 55%;
  }

  .beautifulStories {
    grid-template-columns: 55% 45%;
  }

  .mainTextContainer {
    grid-column: span 1;

    h1 {
      font-size: 4rem;
      line-height: 4.8rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}

@media (min-width: 1440px) {
  .mainTextContainer {
    h1 {
      font-size: 4.4rem;
      line-height: 5.6rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    button,
    .btn {
      font-size: 1.4rem;
    }
  }
}
