.planBenefit {
  padding: 1.6rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid #505050;

  h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.planBenefitTiers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem 0;

  .tierLevel {
    display: flex;
    flex-direction: column;
  }
  
  .tierLevelTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: #5a5a5a;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.check {
  width: 20%;
  max-width: 2rem;
  padding-top: 0.4rem;
}

@media (min-width: 768px) {
  .planBenefit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3.2rem;
  }

  .planBenefitTiers {
    grid-column: span 2;
    padding-top: 0;
    place-items: end;

    .tierLevel {
      width: 50%;
      align-items: center;
    }

    .tierLevelTitle {
      display: none;
    }
  }

  .check {
    padding-top: 0;
  }
}